/* Whole Body */

/* I want the whole page to be padded on the left and right, that way nothing is touching the edge of the window */


/* Header */
/* #top-grid {
    display: grid;
} */

/* Top Items (Home Page Icon & Header) */


/* Navigation Buttons */
#navigation-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-button {
    margin: 9px;
}


/* Main */

/* Footer */
footer {
    display: flex;
    justify-content: space-evenly;
}

#contact-me {
    color: black;
}